<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Student_hacks"
        tools:targetApi="31">
        <activity
            android:name=".Chat_activity.Chat_page_activity.ChatPageActivity"
            android:parentActivityName=".Chat_activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Chat_activity.ChatActivity"
            android:exported="false"
            android:parentActivityName=".Main_page_activity.MainPageActivity" />
        <activity
            android:name=".friend_profile_activity.FriendDiaryOverview.FriendDiaryOverviewActivity"
            android:exported="false" />
        <activity
            android:name=".friend_profile_activity.FriendDiaryActivity.FriendDiaryActivity"
            android:exported="false"
            android:parentActivityName=".friend_profile_activity.FriendProfileActivity" />
        <activity
            android:name=".friend_profile_activity.FriendProfileActivity"
            android:exported="false"
            android:parentActivityName=".Main_page_activity.MainPageActivity" />
        <activity
            android:name=".Cultural_diary_activity.All_my_diary"
            android:exported="false"
            android:parentActivityName=".Main_page_activity.MainPageActivity" />
        <activity
            android:name=".Main_page_activity.MainPageActivity"
            android:exported="true" /> <!-- Changed to true -->
        <activity
            android:name=".profile_activity.ProfileActivity"
            android:exported="true"
            android:parentActivityName=".Main_page_activity.MainPageActivity" /> <!-- Changed to true -->
        <activity
            android:name=".Language_exchange_activity.LanguageExchangeActivity"
            android:exported="true"
            android:parentActivityName=".Main_page_activity.MainPageActivity" /> <!-- Changed to true -->
        <activity
            android:name=".Cultural_diary_activity.CulturalDiaryActivity"
            android:exported="true"
            android:parentActivityName=".Cultural_diary_activity.All_my_diary" /> <!-- Changed to true -->
        <activity
            android:name=".Login_activity.EmailLoginActivity"
            android:exported="false" /> <!-- Keep this false if it doesn't need to be launched from outside -->
        <activity
            android:name=".Login_activity.EmailRegisterActivity"
            android:exported="true"
            android:parentActivityName=".Login_activity.EmailRegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>